<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cours_name %><br>
    <%= f.text_field :cours_name %>
  </div>
  <div class="field">
    <%= f.label :cours_code %><br>
    <%= f.text_field :cours_code %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
