<h1>Listing courses</h1>

<table class="table ">
  <thead>
    <tr>
      <th>Cours name</th>
      <th>Cours code</th>
      <th>Teacher</th>
      <th>Poäng</th>
      <th>Undervisningstid</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.cours_name %></td>
        <td><%= course.cours_code %></td>
     
        <td><span class="teachers" href="#" data-xeditable="true" data-pk="<%= course.id %>" data-model="course" data-name="teacher_id" data-url="<%= course_url(course) %>" data-title="Välj lärare." data-type="select2">
            <% @teachers.where(:id => course.teacher_id).each do |t| %>
            <%= t.name%>
            <% end -%>
          </td>
       
        <td><%= course.teaching_points%></td>
        <td><span class="teaching_houres" data-xeditable="true" data-model="course" data-pk="<%= course.id %>" data-url="<%= course_url(course) %>" data-source="string"data-name="teaching_hours">
          <%= course.teaching_hours%>
        </span></td>
        <td><%= course.group%></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
<script type="text/javascript">
$( document ).ready(function() {
  $('.teachers').editable({
        select2: {
           multiple: false,
           ajax:{
            url: "<%= teachers_path(format: :json)%>",
            dataType: "json",
            quietMillis: 250,
            data: function(term) { return { q: term } },
            results: function(data, page) { return { results: data } }

          }
        }

    });

  $('.teaching_houres').editable({
    });
}); 
</script>